{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <a href="{{ url_for('index') }}">
        <span class="glyphicon glyphicon-circle-arrow-left back_arrow"></span>
        <span class="back_string">返回主页</span>
    </a>
    <h1 style="text-align: center">找回密码</h1>
    <hr class="simple" color="#6f5499"/>

    <div class="col-md-8 col-center-block">
        {{ wtf.quick_form(form) }}
        <hr class="simple" color="#6f5499"/>
    </div>

    <p style="font-size: 20px; text-align: center">想起密码了？ <a href="{{ url_for('login') }}">直接登录</a></p>

{% endblock %}


